.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e0d0d;
  padding: 10px 20px;
  border-bottom: 2px solid #ffffff;
  color: #f1f1f1;
  flex-wrap: wrap;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.nav-left a,
.nav-right a {
  color: #f1f1f1;
  text-decoration: none;
}

.logo {
  font-weight: bold;
  color: #e63946;
  margin-right: 24px;
}

.search {
  background: #2d1a1a;
  border: 1px solid #a8a8a8;
  padding: 6px 12px;
  border-radius: 20px;
  color: white;
  min-width: 160px;
}

.profile {
  width: 30px;
  height: 30px;
  background-color: #a8a8a8;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}
.save{
    width: 30px;
  height: 30px;
}